In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("ToyotaCorolla.csv",encoding='latin1')

In [3]:
df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0

In [4]:
df.isna().sum()

Id                  0
Model               0
Price               0
Age_08_04           0
Mfg_Month           0
Mfg_Year            0
KM                  0
Fuel_Type           0
HP                  0
Met_Color           0
Color               0
Automatic           0
cc                  0
Doors               0
Cylinders           0
Gears               0
Quarterly_Tax       0
Weight              0
Mfr_Guarantee       0
BOVAG_Guarantee     0
Guarantee_Period    0
ABS                 0
Airbag_1            0
Airbag_2            0
Airco               0
Automatic_airco     0
Boardcomputer       0
CD_Player           0
Central_Lock        0
Powered_Windows     0
Power_Steering      0
Radio               0
Mistlamps           0
Sport_Model         0
Backseat_Divider    0
Metallic_Rim        0
Radio_cassette      0
Tow_Bar             0
dtype: int64

In [5]:
df.isnull().sum()

Id                  0
Model               0
Price               0
Age_08_04           0
Mfg_Month           0
Mfg_Year            0
KM                  0
Fuel_Type           0
HP                  0
Met_Color           0
Color               0
Automatic           0
cc                  0
Doors               0
Cylinders           0
Gears               0
Quarterly_Tax       0
Weight              0
Mfr_Guarantee       0
BOVAG_Guarantee     0
Guarantee_Period    0
ABS                 0
Airbag_1            0
Airbag_2            0
Airco               0
Automatic_airco     0
Boardcomputer       0
CD_Player           0
Central_Lock        0
Powered_Windows     0
Power_Steering      0
Radio               0
Mistlamps           0
Sport_Model         0
Backseat_Divider    0
Metallic_Rim        0
Radio_cassette      0
Tow_Bar             0
dtype: int64

In [6]:
df.describe()

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,721.555014,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,...,0.580084,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.277855
std,416.476890,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,...,0.493717,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.448098
min,1.000000,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,721.500000,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,1081.250000,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1442.000000,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df.shape

(1436, 38)

In [8]:
x = df.drop(['Price', 'Model', 'Fuel_Type', 'Color', 'Id'],axis=1)
y = df.iloc[:,2]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=3)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()

In [12]:
model.fit(X_train, y_train)

LinearRegression()

In [13]:
model_pred = model.predict(X_test)

In [14]:
model_actual_pred = pd.DataFrame({'Actual': y_test, 'Pridict': np.round(model_pred, 2)})

In [15]:
model_actual_pred[:10]

      Actual   Pridict
823    10500   9194.91
1241    8950   8539.03
332    11950  13144.95
602     8950   9675.55
150    17200  17155.67
350    11895  13031.38
1237    5950   6099.26
594    10800  10695.47
766     8900   9361.24
1384    9450   8176.75

In [16]:
from sklearn import metrics

In [17]:
print("Mean absolute error: ", metrics.mean_absolute_error(y_test, model_pred))
print("Mean squared error: ", metrics.mean_squared_error(y_test, model_pred))
print("Root mean square error: ", np.sqrt(metrics.mean_absolute_error(y_test, model_pred)))
print("R^2: ", metrics.r2_score(y_test, model_pred))

Mean absolute error:  877.9939101752585
Mean squared error:  4292963.081292035
Root mean square error:  29.630962019064764
R^2:  0.6776851777322717

## Standardization

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
std = StandardScaler()

In [20]:
X_train_std = std.fit_transform(X_train)

In [21]:
X_test_std = std.fit_transform(X_test)

In [22]:
## apply Linear regression model

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
std_model = LinearRegression()

In [25]:
std_model.fit(X_train_std, y_train)

LinearRegression()

In [26]:
std_model_pred = std_model.predict(X_test_std)

In [27]:
std_actual_pridict = pd.DataFrame({'Actual': y_test, 'Pridict': std_model_pred})

In [28]:
std_actual_pridict[:10]

      Actual       Pridict
823    10500   9227.164681
1241    8950   8485.566884
332    11950  12840.247746
602     8950   9231.530261
150    17200  16152.545357
350    11895  12294.424793
1237    5950   5601.151587
594    10800  10160.055549
766     8900   9304.142319
1384    9450   8233.740805

In [29]:
print("Mean absolute error: ", metrics.mean_absolute_error(y_test, std_model_pred))
print("Mean squared error: ", metrics.mean_squared_error(y_test, std_model_pred))
print("Root mean square error: ", np.sqrt(metrics.mean_absolute_error(y_test, std_model_pred)))
print("R^2: ", metrics.r2_score(y_test, std_model_pred))

Mean absolute error:  901.443959289716
Mean squared error:  1683172.2847290363
Root mean square error:  30.024056343034594
R^2:  0.8736277565109812

## min max scaling

In [30]:
from sklearn.preprocessing import MinMaxScaler

In [31]:
min_max = MinMaxScaler()

In [32]:
X_train_min_max = min_max.fit_transform(X_train)
X_test_min_max = min_max.fit_transform(X_test)
X_train_min_max = pd.DataFrame(X_train_min_max, columns= X_train.columns)
X_test_min_max = pd.DataFrame(X_test_min_max, columns= X_train.columns)
X_test_min_max[:4]

,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,Doors,Cylinders,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,0.821918,0.090909,0.166667,0.288063,0.808511,1.0,1.0,0.019524,0.333333,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
1,0.876712,0.818182,0.000000,0.337446,0.872340,1.0,0.0,0.020408,1.000000,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.424658,0.545455,0.500000,0.134898,0.872340,0.0,0.0,0.020408,1.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.616438,0.363636,0.333333,0.127568,0.595745,0.0,0.0,0.006667,0.333333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [33]:
## apply model
from sklearn.linear_model import LinearRegression

In [34]:
min_max_model = LinearRegression()

In [35]:
min_max_model.fit(X_train_min_max, y_train)

LinearRegression()

In [36]:
min_max_pred = min_max_model.predict(X_test_min_max)
min_max_pred[:4]

array([-7.23108137e+13, -5.00613326e+13, -2.33619552e+14, -1.55746368e+14])

In [37]:
min_max_actual_predict = pd.DataFrame({'Actual': y_test, 'Pridict': min_max_pred})

In [38]:
min_max_actual_predict[:10]

      Actual       Pridict
823    10500 -7.231081e+13
1241    8950 -5.006133e+13
332    11950 -2.336196e+14
602     8950 -1.557464e+14
150    17200 -3.337422e+14
350    11895 -2.280572e+14
1237    5950 -1.112474e+13
594    10800 -1.668711e+14
766     8900 -1.056850e+14
1384    9450 -1.668711e+13

In [39]:
print("Mean absolute error: ", metrics.mean_absolute_error(y_test, min_max_pred))
print("Mean squared error: ", metrics.mean_squared_error(y_test, min_max_pred))
print("Root mean square error: ", np.sqrt(metrics.mean_absolute_error(y_test, min_max_pred)))
print("R^2: ", metrics.r2_score(y_test, min_max_pred))

Mean absolute error:  145202385391046.1
Mean squared error:  3.2504405484286378e+28
Root mean square error:  12049995.244440809
R^2:  -2.4404243591661224e+21

In [69]:
min_max_model.score(X_test_min_max,y_test)

-2.4404243591661224e+21

## RobustScaler

In [50]:
from sklearn.preprocessing import RobustScaler

In [51]:
robust = RobustScaler()

In [52]:
X_train_robust = pd.DataFrame(robust.fit_transform(X_train))

In [53]:
X_test_robust = pd.DataFrame(robust.fit_transform(X_test))

In [54]:
X_train_robust[:5]

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.375000,1.000000,-0.5,-0.057045,0.00,-1.0,0.0,0.0,0.0,0.0,...,-1.0,-1.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,1.0
1,-2.166667,1.166667,2.0,-1.466186,-0.60,0.0,0.0,-1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0
2,-1.583333,0.833333,1.5,-0.819542,-0.65,0.0,0.0,-1.0,0.5,0.0,...,-1.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.791667,-0.666667,-0.5,0.506506,0.00,0.0,0.0,0.0,-0.5,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
4,-0.083333,0.833333,0.0,-0.619611,0.00,0.0,0.0,0.0,-0.5,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0

In [56]:
## build the model
from sklearn.linear_model import LinearRegression

In [57]:
robust_model = LinearRegression()

In [58]:
robust_model.fit(X_train_robust, y_train)

LinearRegression()

In [59]:
robust_model_prid = robust_model.predict(X_test_robust)

In [65]:
robust_actual_pridict = pd.DataFrame({'Actual':y_test, 'Prididct':np.round(robust_model_prid,2)})

In [66]:
robust_actual_pridict[:10]

      Actual  Prididct
823    10500   9113.36
1241    8950   8627.44
332    11950  12227.76
602     8950   9412.86
150    17200  15497.38
350    11895  12236.09
1237    5950   6665.30
594    10800  10395.41
766     8900   9271.84
1384    9450   8322.26

In [67]:
print("Mean absolute error: ", metrics.mean_absolute_error(y_test, robust_model_prid))
print("Mean squared error: ", metrics.mean_squared_error(y_test, robust_model_prid))
print("Root mean square error: ", np.sqrt(metrics.mean_absolute_error(y_test, robust_model_prid)))
print("R^2: ", metrics.r2_score(y_test, robust_model_prid))

Mean absolute error:  1056.0894518170521
Mean squared error:  5123732.592737791
Root mean square error:  32.49752993408964
R^2:  0.6153111665058586

In [68]:
robust_model.score(X_test_robust, y_test)

0.6153111665058586